body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a8dced;
    overflow: hidden;
}
.area{
    width: 100%;
}
.con{
    display: flex;
    width: 90%;
    justify-content: space-around;
}
.left{
    width: 50%;
}
.left img{
    width: 750px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-box{
    padding: 10px;
    background: white;
    width: 720px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-right: 400px;
}
.logo {
    font-size: 60px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.logo .light {
    color: rgb(80, 179, 212);
    font-weight: 300;
}
  
.logo .bold {
    color: #00334d;
    font-weight: 700;
}
.logo sup {
    font-size: 18px;
    color: #00334d;
    margin-left: 5px;
}
.inp{
    margin: 10px 20px;
}
input{
    border-radius: 10px;
    margin: 5px 5px;
    height: 40px;
    width: 95%;
}
.btn{
    margin: 5px 5px;
}
button{
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    height: 40px;
    width: 100px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
