body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a8dced;
  }

  .logo {
    font-size: 60px;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  .logo .light {
    color: rgb(80, 179, 212);
    font-weight: 300;
  }
  
  .logo .bold {
    color: #00334d;
    font-weight: 700;
  }
  
  .logo sup {
    font-size: 18px;
    color: #00334d;
    margin-left: 5px;
  }

  .container {
    margin-right: 50px;
  }

  .box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 550px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    background-color: black;
  }
  
  .login-btn {
    background-color: black;
    color: white;
  }
  
  .register-btn {
    background-color: black;
    color: white;
  }
  .forgot-password {
    display: block;
    text-align: right;
    margin-right: 10px;
    color: black;
}
a {
  text-decoration: none;
  color: white;
}

  
  